# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.android/
ios/.symlinks/
ios/Pods/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
web/.dart_tool/

# IDEs and editors
.vscode/
.idea/
*.iml

# OS junk files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Others
pubspec.lock
*.log
